@{
    ViewData["Title"] = "Sobre";
}
<h2 align="center">@ViewData["Title"]</h2>
<h3 align="center">Descrição</h3>

<h2 align="center">Aluno: <b> Victor Medeiros </b></h2><br />
<h4 align="center">Sistemas de Informação</h4><br />
<p align="center">Desenvolvido para a disciplina de DotNet.</p>
