@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>UniFacisa Blog</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Bem Vindo ao Blog Universitário da Unifacisa</h2>
        <h4>
            UniFacisa Blog é uma aplicação simples para a disciplina de DotNet.
        </h4>
    </div>
    <div class="col-md-4">
        <h2>Perfil do Desenvolvedor</h2>
        <h4>Victor Medeiros</h4>
        <h4><a class="btn btn-default" href="https://www.linkedin.com/in/victor-medeiros-727a45a4/">Acessar &raquo;</a></h4>
    </div>
    <div class="col-md-4">
        <h2>Download</h2>
        <h4>Você pode ter acesso ao projeto pelo GitHub.</h4>
        <h4><a class="btn btn-default" href="https://github.com/VMedeiros/UniFacisaBlog">Código Fonte &raquo;</a></h4>
    </div>
</div>