@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 align="center">UniFacisa Blog</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2 align="center">Bem-Vindo ao Blog Universitário da Unifacisa</h2><br />
        <h4 align="center">
           O UniFacisa Blog é uma aplicação simples para a disciplina de DotNet.
        </h4><br />
    </div>
    <div class="col-md-4">
        <h2 align="center">Perfil do Desenvolvedor</h2>
        <h4 align="center">Victor Medeiros</h4>
        <h4 align="center"><a class="btn btn-default" href="https://www.linkedin.com/in/victor-medeiros-727a45a4/">Acessar &raquo;</a></h4>
    </div>
    <div class="col-md-4">
        <h2 align="center">Download</h2>
        <h4 align="center">Você pode ter acesso ao projeto pelo GitHub.</h4>
        <h4 align="center"><a class="btn btn-default" href="https://github.com/VMedeiros/UniFacisaBlog">Código Fonte &raquo;</a></h4>
    </div>
</div>